#Introduction {
    color: #c92626;
    font-size: 80px;
    background-color: #aae40a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(44, 27, 204, 0.5);
    text-align: center;
    text-align: center;
}    

.title {
    color: #000000;
    font-size: 60px;
    background-color: #aae40a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(44, 27, 204, 0.5);
    text-align: center;
    text-align: center;
}

#text {
text-align: center;
}

#text1 {
    text-align: center;
    }

    #text2 {
        text-align: center;
        }